/*ORANGE COLOR
      #e67e22
*/

/*--------------------------------------------------*/
/* BASIC SETUP */
/*--------------------------------------------------*/

*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    color: #505050;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
.clearfix {zoom:1}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*--------------------------------------------------*/
/* REUSABLE COMPONENTS */
/*--------------------------------------------------*/

section{
    padding: 50px;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}
.box{
    padding: 1%;
}

/*-----HEADINGS-----*/

h1,
h2,
h3{
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
}
h1{
     margin-top:0;
     margin-bottom: 20px;
     color:#fff;
     font-size: 240%;
     word-spacing: 4px;
}
h2{
    word-spacing: 2px;
    font-size: 180%;
    text-align: center;
    margin: 20px 0px 40px 0px;
}
h3{
    font-size: 110%;
    margin-bottom: 10px;
	text-align: center;
}
h2:after{
    display: block;
    content: " ";
   background-color:#e67e22;
    height: 3px;
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
}


.page2 {
	background-color: rgba(219, 219, 219, 0.87);
	
	
}
.details {
	text-align: center;
	margin-bottom: 50px;
}
.invoice{
	margin-bottom: 30px;
}
.invoice p{
	text-align: center;
	font-size: 120%;
	font-weight: 300;
}
.invoice span{
	text-align: center;
	font-size: 130%;
	font-weight: 400;
}
.gtotal{
	font-size: 170%;
	color: #e67e22;
}
/*-------ICONS---------*/

.icon-big{
    font-size: 300%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
	
    
}
.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    line-height: 120%;
    margin-right: 10px;
    vertical-align: middle; 
    margin-top: -4px;
}
.icon-verybig {
	font-size: 600%;
    display: block;
    color: #e67e22;
    margin-bottom: 10% ;
	text-align: center;
}

/*-------LINKS---------*/

a:link,
a:visited{
    text-decoration: none;
    color: #e67e22;
    border-bottom: 1px solid #e67e22;
    padding-bottom: 1.5px;
    -webkit-transition: border-bottom 0.3s, color 0.3s;
    transition: border-bottom 0.3s, color 0.3s;
}
a:active,
a:hover{
    border-bottom: 1px solid transparent;
    color: #505050;
}

/*-------BUTTONS---------*/


.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    font-weight: 300;
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 200px;
	margin-top: 20px ;
	margin-bottom: 20px ;
	margin-left: 100px;
    -webkit-transition: background-color 0.4s, border 0.4s, color 0.4s;
    transition: background-color 0.4s, border 0.4s, color 0.4s;
    
}

.btn-1:link,
.btn-1:visited,
input[type=submit] {
    background-color: #e67e22;
    margin-right: 10px;
    color: #fff;
    border: 1px solid #e67e22;
    
	margin-left: 65%;
}
.btn-2:link,
.btn-2:visited{
    color: #e67e22;
    border: 1px solid #e67e22;
	
}
.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #bf6516;
}
.btn-1:hover,
.btn-1:active {
    margin-right: 10px;
    color: #fff;
    border: 1px solid #bf6516;
    
}
.btn-2:hover,
.btn-2:active{
    color: #fff;
    border: 1px solid #bf6516;
}

.feedback {
	margin: 40px 470px;
}

/* Full-width input fields */
input[type=text],
select,
textarea {
  width: 90%;
  padding: 10px;
  margin: 10px auto;
  display: inline-block;
  border: none;
  background: #f1f1f1;
	  border-radius: 10px;
}
textarea {
	height: 120px;
}

input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

.container {
  padding: 16px;
	width: 90%;
	margin: auto;
}

.container p{
	text-align: center;
	margin-bottom: 10px;	
}
.labels {
	margin-top: 30px;
}

.city-features {
    margin-bottom: 10px;
}
.note1 {
	padding: 3%;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(img/back-customers.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  
}

/* Modal Content/Box */
.modal-content {
  background-color: rgba(255, 255, 255, 0.85);
  margin: 50px auto;
  border: 1px solid #888;
	border-radius: 10px;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
vr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
	border-radius: 200px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
